<div class="modal fade md-mqtt" id="md-mqtt" tabindex="-2" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" tabindex="8"><span aria-hidden="true">×</span>
                          </button>
                <h4 class="modal-title" id="">Configurações</h4>
            </div>
            <div class="modal-body">
                <form id="form-mqtt" method="post" action="" data-parsley-validate class="form-horizontal form-label-left">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md-mqtt-descricao">Descrição<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="md-mqtt-descricao" name="md-mqtt-descricao" required="required" class="form-control col-md-7 col-xs-12"
                                tabindex="1" value="{{ mqtt_descricao }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md-mqtt-servidor">Endereço do Servidor <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="md-mqtt-servidor" name="md-mqtt-servidor" required="required" class="form-control col-md-7 col-xs-12"
                                tabindex="2" value="{{ mqtt_servidor }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="md-mqtt-login" class="control-label col-md-3 col-sm-3 col-xs-12">Login</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="md-mqtt-login" name="md-mqtt-login" class="form-control col-md-7 col-xs-12" type="text" 
                            placeholder="Nome de usuário do servidor" tabindex="3" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="md-mqtt-senha" class="control-label col-md-3 col-sm-3 col-xs-12">Senha</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="md-mqtt-senha" name="md-mqtt-senha" class="form-control col-md-7 col-xs-12" type="password"
                            placeholder="Senha do servidor" tabindex="4" autocomplete="off">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-1">
                            <button class="btn btn-primary col-lg-3 col-md-3 col-sm-3 col-xs-12" type="button" data-dismiss="modal" tabindex="5">Cancelar</button>
                            <div class="visible-xs-block">&nbsp</div>
                            <button class="btn btn-primary col-lg-3 col-md-3 col-sm-4 col-xs-12" type="reset" tabindex="6">Limpar Campos</button>
                            <div class="visible-xs-block">&nbsp</div>
                            <button class="btn btn-success col-lg-3 col-md-3 col-sm-3 col-xs-12" type="submit" tabindex="7">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#md-mqtt').on('shown.bs.modal', function () {
        $('#md-mqtt-descricao').focus();
        $(".nav-sm .container.body .col-md-3.left_col").css('z-index', 1);
    });

    $('#md-mqtt').on('hidden.bs.modal', function () {
        $(".nav-sm .container.body .col-md-3.left_col").css('z-index', 9999);
    });

</script>